<div class='ui center aligned grid'>
  <div class='ui seven wide column'>
    <div class="ui pointing secondary boxoffice menu">
      <a class="red active item" data-tab="US">北美票房榜</a>
      <a class="orange item" data-tab="CN">内地票房榜</a>
      <a class="green item" data-tab="HK">香港票房榜</a>
      <a class="blue item" data-tab="TW">台湾票房榜</a>
      <a class="teal item" data-tab="JP">日本票房榜</a>
      <a class="purple item" data-tab="KR">韩国票房榜</a>
      <a class="red item" data-tab="FR">法国票房榜</a>
    </div>

    <div class="ui active tab " data-tab="US">
      <div class="ui label">榜单周 <%= @us.first.year + @us.first.wk %></div>
      <div class='ui segment'>
        <div class="ui divided list ">
          <% @us.each do |item| %>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <h3 class="ui left floated header">
                <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
                  第<%= item.rid %>名
                </div>
                <%= item.movie.name %>
                <%= render_rating(item.movie.rating) %>
              </h3>
              <h3 class='ui right floated header'>
                <%= link_to edit_movie_path(item.movie.id), class: "circular ui icon button" do %>
                  <i class="icon pencil" data-content="编辑种子地址" data-variation="inverted"></i>
                <% end %>
              </h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="ui active tab " data-tab="CN">
      <div class="ui label">榜单周 <%= @cn.first.year + @cn.first.wk %></div>
      <div class='ui segment'>
        <div class="ui divided list ">
          <% @cn.each do |item| %>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <h3 class="ui left floated header">
                <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
                  第<%= item.rid %>名
                </div>
                <%= item.movie.name %>
                <%= render_rating(item.movie.rating) %>
              </h3>
              <h3 class='ui right floated header'>
                <%= link_to edit_movie_path(item.movie.id), class: "circular ui icon button" do %>
                  <i class="icon pencil" data-content="编辑种子地址" data-variation="inverted"></i>
                <% end %>
              </h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="ui active tab " data-tab="HK">
      <div class="ui label">榜单周 <%= @hk.first.year + @hk.first.wk %></div>
      <div class='ui segment'>
        <div class="ui divided list ">
          <% @hk.each do |item| %>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <h3 class="ui left floated header">
                <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
                  第<%= item.rid %>名
                </div>
                <%= item.movie.name %>
                <%= render_rating(item.movie.rating) %>
              </h3>
              <h3 class='ui right floated header'>
                <%= link_to edit_movie_path(item.movie.id), class: "circular ui icon button" do %>
                  <i class="icon pencil" data-content="编辑种子地址" data-variation="inverted"></i>
                <% end %>
              </h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="ui active tab " data-tab="TW">
      <div class="ui label">榜单周 <%= @tw.first.wk %></div>
      <div class='ui segment'>
        <div class="ui divided list ">
          <% @tw.each do |item| %>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <h3 class="ui left floated header">
                <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
                  第<%= item.rid %>名
                </div>
                <%= item.movie.name %>
                <%= render_rating(item.movie.rating) %>
              </h3>
              <h3 class='ui right floated header'>
                <%= link_to edit_movie_path(item.movie.id), class: "circular ui icon button" do %>
                  <i class="icon pencil" data-content="编辑种子地址" data-variation="inverted"></i>
                <% end %>
              </h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="ui active tab " data-tab="JP">
      <div class="ui label">榜单周 <%= @jp.first.year + @jp.first.wk %></div>
      <div class='ui segment'>
        <div class="ui divided list ">
          <% @jp.each do |item| %>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <h3 class="ui left floated header">
                <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
                  第<%= item.rid %>名
                </div>
                <%= item.movie.name %>
                <%= render_rating(item.movie.rating) %>
              </h3>
              <h3 class='ui right floated header'>
                <%= link_to edit_movie_path(item.movie.id), class: "circular ui icon button" do %>
                  <i class="icon pencil" data-content="编辑种子地址" data-variation="inverted"></i>
                <% end %>
              </h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class="ui active tab " data-tab="KR">
      <div class="ui label">榜单周 <%= @kr.first.wk %></div>
      <div class='ui segment'>
        <div class="ui divided list ">
          <% @kr.each do |item| %>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <h3 class="ui left floated header">
                <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
                  第<%= item.rid %>名
                </div>
                <%= item.movie.name %>
                <%= render_rating(item.movie.rating) %>
              </h3>
              <h3 class='ui right floated header'>
                <%= link_to edit_movie_path(item.movie.id), class: "circular ui icon button" do %>
                  <i class="icon pencil" data-content="编辑种子地址" data-variation="inverted"></i>
                <% end %>
              </h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="ui active tab " data-tab="FR">
      <div class="ui label">榜单周 <%= @fr.first.wk %></div>
      <div class='ui segment'>
        <div class="ui divided list ">
          <% @fr.each do |item| %>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <h3 class="ui left floated header">
                <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
                  第<%= item.rid %>名
                </div>
                <%= item.movie.name %>
                <%= render_rating(item.movie.rating) %>
              </h3>
              <h3 class='ui right floated header'>
                <%= link_to edit_movie_path(item.movie.id), class: "circular ui icon button" do %>
                  <i class="icon pencil" data-content="编辑种子地址" data-variation="inverted"></i>
                <% end %>
              </h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>


  </div>
</div>


<script type="text/javascript">
  $('.boxoffice.menu .item').tab();
</script>

