<div class='stripe'>
  <form class='ui form'>
    <div class='inline field'>
      <input name="movie_name" type="text" size='50%' placeholder="搜索..." value='<%=params[:movie_name]%>'>
      <button class="ui teal vertical animated button">
        <div class="hidden content">搜索</div>
        <div class="visible content">
          <i class=" search icon"></i>
        </div>
      </button>
    </div>
  </form><!--form-->
</div>
<div class='stripe'>
  <div class='ui two column grid'>
    <div class='column'>
      <div class='ui teal label'><h3 class='ui header'>奥斯卡获奖情况</h3></div>
      <% if @honor_movies_list.blank? %>
        <div class='ui teal segment'>
          <%= image_tag "cry#{rand(5)}.jpeg", class: 'ui floated image' %>
          下次一定会得奥斯卡的
        </div>
      <% else %>
        <% @honor_movies_list.collect do |oscar| %>
          <div class='ui teal segment'>
            <h4 class='ui block header'><%= oscar.name %></h4>
            <div class="ui divided list">
              <% Honor.where(name: oscar.name).order(award_type: :desc).collect do |honor| %>
                <div class='item'>
                  <div class='content'>
                    <%= honor.year+'年'+honor.session+honor.award_name %>
                    <a class="ui <%= honor.award_type=='获奖' ? 'red' : 'teal' %> label">
                      <%= honor.award_type %>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class='column'>
      <div class='ui blue label'><h3 class='ui header'>票房榜情况</h3></div>
      <% if @boxoffice_movies_list.blank? %>
        <div class='ui blue segment'>
          <%= image_tag "helpless#{rand(3)}.jpeg", class: 'ui floated image' %>
          <p>很遗憾，还没能进入过票房榜榜单。也可能是票房榜的数据太新鲜了，还没进入数据库。</p>
          <small>票房榜收录2010年后的数据</small>
        </div>
      <% else %>
        <% @boxoffice_movies_list.collect do |movie| %>
          <div class='ui blue segment'>
            <h4 class='ui left block header'><%= movie.name+' '+movie.en_name %></h4>
            <div class="ui divided list">
              <% movie.boxoffices.order(:rid).collect do |b| %>
                <div class='item'>
                  <div class='content'>
                    <%= b.area+b.wk %><a class="ui <%= b.rid<=3 ? 'red' : 'blue' %> label">第<%= b.rid %>名</a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %> <!--if-->
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.ui.form').form({
    movie_name: {
      identifier  : 'movie_name',
      rules: [{
        type   : 'empty',
      }]
    }
  });
</script>