<div class='ui grid'>
  <div class='ui four wide column'>
    <div class="ui secondary vertical pointing menu boxoffice">
      <a class="red active item" data-tab="US">北美票房榜</a>
      <a class="orange item" data-tab="CN">内地票房榜</a>
      <a class="green item" data-tab="HK">香港票房榜</a>
      <a class="blue item" data-tab="TW">台湾票房榜</a>
      <a class="teal item" data-tab="JP">日本票房榜</a>
      <a class="purple item" data-tab="KR">韩国票房榜</a>
      <a class="red item" data-tab="FR">法国票房榜</a>
    </div>
  </div>
  <div class='ui eleven wide column'>
    <div class="ui active tab " data-tab="US">
      <%= render_cell :boxoffice, :m1905_boxoffice, area: "北美票房" %>
    </div>

    <div class="ui tab " data-tab="CN">
      <%= render_cell :boxoffice, :m1905_boxoffice, area: "内地票房" %>
    </div>

    <div class="ui tab " data-tab="HK">
      <%= render_cell :boxoffice, :m1905_boxoffice, area: "香港票房" %>
    </div>

    <div class="ui tab " data-tab="TW">
      <%= render_cell :boxoffice, :mtime_boxoffice, area: "台湾票房榜" %>
    </div>

    <div class="ui tab " data-tab="JP">
      <%= render_cell :boxoffice, :m1905_boxoffice, area: "日本票房" %>
    </div>

    <div class="ui tab " data-tab="KR">
      <%= render_cell :boxoffice, :mtime_boxoffice, area: "韩国票房榜" %>
    </div>

    <div class="ui tab " data-tab="FR">
      <%= render_cell :boxoffice, :mtime_boxoffice, area: "法国票房榜" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.boxoffice.menu .item').tab();
</script>
