<div class='ui grid'>
  <div class='ui two wide column'></div>
  <div class='ui twelve wide column'>
    <div class="ui pointing secondary boxoffice menu">
      <a class="red active item" data-tab="US">北美票房榜</a>
      <a class="orange item" data-tab="CN">内地票房榜</a>
      <a class="green item" data-tab="HK">香港票房榜</a>
      <a class="blue item" data-tab="TW">台湾票房榜</a>
      <a class="teal item" data-tab="JP">日本票房榜</a>
      <a class="purple item" data-tab="KR">韩国票房榜</a>
      <a class="red item" data-tab="FR">法国票房榜</a>
    </div>

    <div class="ui active tab " data-tab="US">
      <div class="ui label">榜单周 <%= @us.first.year + @us.first.wk %></div>
      <div class='ui segment'>
        <div class="ui selection divided list ">
          <% @us.each do |item| %>
            <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
              第<%= item.rid %>名
            </div>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <img alt="<%= item.movie.name %>" src="<%= item.movie.poster_url %>", class = 'ui circular small image' />
              <div class='ui grid'>
                <div class='ui six wide column'>
                  <h3 class="ui header">
                    <%= item.movie.name %>
                    <%= render_rating(item.movie.rating) %>
                  </h3>
                  <%= item.movie.types %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                    <div class='ui label'>提供下载</div>
                  <% end %>
                </div>
                <div class='ui six wide column'>
                  <table class='ui table segment'>
                    <thead>
                      <tr>
                        <th>周票房</th>
                        <th>总票房</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= item.wboxoffice %></td>
                        <td><%= item.tboxoffice %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div id='<%= item.area %><%=item.rid %>_modal' class="ui large modal">
              <i class="close icon"></i>
              <div class="header">
                <%= item.movie.name %>
                <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                  <a href="<%= item.movie.torrent_url %>" class="ui circular animated fade button" target='_blank'>
                    <div class="visible content"><%= item.movie.torrent_type %></div>
                    <div class="hidden content">
                        下载
                    </div>
                  </a>
                <% end %>
              </div>
              <div class="content">
                <div class="ui divided selection list">
                  <a class="item">
                      <div class="ui teal horizontal label">上映日期</div>
                      <%= item.movie.release_date %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">导演</div>
                      <%= item.movie.director %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">主演</div>
                      <%= item.movie.actors %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">类型</div>
                      <%= item.movie.types %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">简介</div>
                      <p><%= item.movie.summary %><p>
                  </a>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $('#<%= item.area %><%=item.rid %>').popup({
                position : 'left center',
                title    : '<%= item.movie.release_date %>上映',
                content  : '主演：<%= item.movie.actors %>'
              });
              $('#<%= item.area %><%=item.rid %>_modal').modal('attach events', '#<%= item.area %><%=item.rid %>', 'show');
            </script>
          <% end %>
        </div>
      </div>
    </div>

    <div class="ui tab " data-tab="CN">
      <div class="ui label">榜单周 <%= @cn.first.year + @cn.first.wk %></div>
      <div class='ui segment'>
        <div class="ui selection divided list ">
          <% @cn.each do |item| %>
            <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
              第<%= item.rid %>名
            </div>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
                <img alt="<%= item.movie.name %>" src="<%= item.movie.poster_url %>", class = 'ui circular small image' />
              <div class='ui grid'>
                <div class='ui six wide column'>
                  <h3 class="ui header">
                    <%= item.movie.name %>
                    <%= render_rating(item.movie.rating) %>
                  </h3>
                  <%= item.movie.types %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                    <div class='ui label'>提供下载</div>
                  <% end %>
                </div>
                <div class='ui six wide column'>
                  <table class='ui table segment'>
                    <thead>
                      <tr>
                        <th>周票房</th>
                        <th>总票房</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= item.wboxoffice %></td>
                        <td><%= item.tboxoffice %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div id='<%= item.area %><%=item.rid %>_modal' class="ui large modal">
              <i class="close icon"></i>
              <div class="header">
                  <%= item.movie.name %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                  <a href="<%= item.movie.torrent_url %>" class="ui circular animated fade button" target='_blank'>
                    <div class="visible content"><%= item.movie.torrent_type %></div>
                    <div class="hidden content">
                        下载
                    </div>
                  </a>
                <% end %>
              </div>
              <div class="content">
                <div class="ui divided selection list">
                  <a class="item">
                      <div class="ui teal horizontal label">上映日期</div>
                      <%= item.movie.release_date %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">导演</div>
                      <%= item.movie.director %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">主演</div>
                      <%= item.movie.actors %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">类型</div>
                      <%= item.movie.types %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">简介</div>
                      <p><%= item.movie.summary %><p>
                  </a>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $('#<%= item.area %><%=item.rid %>').popup({
                position : 'left center',
                title    : '<%= item.movie.release_date %>上映',
                content  : '主演：<%= item.movie.actors %>'
              });
              $('#<%= item.area %><%=item.rid %>_modal').modal('attach events', '#<%= item.area %><%=item.rid %>', 'show');
            </script>
          <% end %>
        </div>
      </div>
    </div>
    <div class="ui tab " data-tab="HK">
      <div class="ui label">榜单周 <%= @hk.first.year + @hk.first.wk %></div>
      <div class='ui segment'>
        <div class="ui selection divided list ">
          <% @hk.each do |item| %>
            <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
              第<%= item.rid %>名
            </div>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <img alt="<%= item.movie.name %>" src="<%= item.movie.poster_url %>", class = 'ui circular small image' />
              <div class='ui grid'>
                <div class='ui six wide column'>
                  <h3 class="ui header">
                    <%= item.movie.name %>
                    <%= render_rating(item.movie.rating) %>
                  </h3>
                  <%= item.movie.types %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                    <div class='ui label'>提供下载</div>
                  <% end %>
                </div>
                <div class='ui six wide column'>
                  <table class='ui table segment'>
                    <thead>
                      <tr>
                        <th>周票房</th>
                        <th>总票房</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= item.wboxoffice %></td>
                        <td><%= item.tboxoffice %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div id='<%= item.area %><%=item.rid %>_modal' class="ui large modal">
              <i class="close icon"></i>
              <div class="header">
                  <%= item.movie.name %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                  <a href="<%= item.movie.torrent_url %>" class="ui circular animated fade button" target='_blank'>
                    <div class="visible content"><%= item.movie.torrent_type %></div>
                    <div class="hidden content">
                        下载
                    </div>
                  </a>
                <% end %>
              </div>
              <div class="content">
                <div class="ui divided selection list">
                  <a class="item">
                      <div class="ui teal horizontal label">上映日期</div>
                      <%= item.movie.release_date %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">导演</div>
                      <%= item.movie.director %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">主演</div>
                      <%= item.movie.actors %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">类型</div>
                      <%= item.movie.types %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">简介</div>
                      <p><%= item.movie.summary %><p>
                  </a>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $('#<%= item.area %><%=item.rid %>').popup({
                position : 'left center',
                title    : '<%= item.movie.release_date %>上映',
                content  : '主演：<%= item.movie.actors %>'
              });
              $('#<%= item.area %><%=item.rid %>_modal').modal('attach events', '#<%= item.area %><%=item.rid %>', 'show');
            </script>
          <% end %>
        </div>
      </div>
    </div>
    <div class="ui tab " data-tab="TW">
      <div class="ui label">榜单周 <%= @tw.first.wk %></div>
      <div class='ui segment'>
        <div class="ui selection divided list ">
          <% @tw.each do |item| %>
            <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
              第<%= item.rid %>名
            </div>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <img alt="<%= item.movie.name %>" src="<%= item.movie.poster_url %>", class = 'ui circular small image' />
              <div class='ui grid'>
                <div class='ui six wide column'>
                  <h3 class="ui header">
                    <%= item.movie.name %>
                    <%= render_rating(item.movie.rating) %>
                  </h3>
                  <%= item.movie.types %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                    <div class='ui label'>提供下载</div>
                  <% end %>
                </div>
                <div class='ui six wide column'>
                  <table class='ui table segment'>
                    <thead>
                      <tr>
                        <th>周票房</th>
                        <th>总票房</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= item.wboxoffice %></td>
                        <td><%= item.tboxoffice %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div id='<%= item.area %><%=item.rid %>_modal' class="ui large modal">
              <i class="close icon"></i>
              <div class="header">
                  <%= item.movie.name %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                  <a href="<%= item.movie.torrent_url %>" class="ui circular animated fade button" target='_blank'>
                    <div class="visible content"><%= item.movie.torrent_type %></div>
                    <div class="hidden content">
                        下载
                    </div>
                  </a>
                <% end %>
              </div>
              <div class="content">
                <div class="ui divided selection list">
                  <a class="item">
                      <div class="ui teal horizontal label">上映日期</div>
                      <%= item.movie.release_date %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">导演</div>
                      <%= item.movie.director %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">主演</div>
                      <%= item.movie.actors %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">类型</div>
                      <%= item.movie.types %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">简介</div>
                      <p><%= item.movie.summary %><p>
                  </a>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $('#<%= item.area %><%=item.rid %>').popup({
                position : 'left center',
                title    : '<%= item.movie.release_date %>上映',
                content  : '主演：<%= item.movie.actors %>'
              });
              $('#<%= item.area %><%=item.rid %>_modal').modal('attach events', '#<%= item.area %><%=item.rid %>', 'show');
            </script>
          <% end %>
        </div>
      </div>
    </div>
    <div class="ui tab " data-tab="JP">
      <div class="ui label">榜单周 <%= @jp.first.year + @jp.first.wk %></div>
      <div class='ui segment'>
        <div class="ui selection divided list ">
          <% @jp.each do |item| %>
            <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
              第<%= item.rid %>名
            </div>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <img alt="<%= item.movie.name %>" src="<%= item.movie.poster_url %>", class = 'ui circular small image' />
              <div class='ui grid'>
                <div class='ui six wide column'>
                  <h3 class="ui header">
                    <%= item.movie.name %>
                    <%= render_rating(item.movie.rating) %>
                  </h3>
                  <%= item.movie.types %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                    <div class='ui label'>提供下载</div>
                  <% end %>
                </div>
                <div class='ui six wide column'>
                  <table class='ui table segment'>
                    <thead>
                      <tr>
                        <th>周票房</th>
                        <th>总票房</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= item.wboxoffice %></td>
                        <td><%= item.tboxoffice %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div id='<%= item.area %><%=item.rid %>_modal' class="ui large modal">
              <i class="close icon"></i>
              <div class="header">
                  <%= item.movie.name %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                  <a href="<%= item.movie.torrent_url %>" class="ui circular animated fade button" target='_blank'>
                    <div class="visible content"><%= item.movie.torrent_type %></div>
                    <div class="hidden content">
                        下载
                    </div>
                  </a>
                <% end %>
              </div>
              <div class="content">
                <div class="ui divided selection list">
                  <a class="item">
                      <div class="ui teal horizontal label">上映日期</div>
                      <%= item.movie.release_date %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">导演</div>
                      <%= item.movie.director %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">主演</div>
                      <%= item.movie.actors %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">类型</div>
                      <%= item.movie.types %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">简介</div>
                      <p><%= item.movie.summary %><p>
                  </a>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $('#<%= item.area %><%=item.rid %>').popup({
                position : 'left center',
                title    : '<%= item.movie.release_date %>上映',
                content  : '主演：<%= item.movie.actors %>'
              });
              $('#<%= item.area %><%=item.rid %>_modal').modal('attach events', '#<%= item.area %><%=item.rid %>', 'show');
            </script>
          <% end %>
        </div>
      </div>
    </div>
    <div class="ui tab " data-tab="KR">
      <div class="ui label">榜单周 <%= @kr.first.wk %></div>
      <div class='ui segment'>
        <div class="ui selection divided list ">
          <% @kr.each do |item| %>
            <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
              第<%= item.rid %>名
            </div>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <img alt="<%= item.movie.name %>" src="<%= item.movie.poster_url %>", class = 'ui circular small image' />
              <div class='ui grid'>
                <div class='ui six wide column'>
                  <h3 class="ui header">
                    <%= item.movie.name %>
                    <%= render_rating(item.movie.rating) %>
                  </h3>
                  <%= item.movie.types %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                    <div class='ui label'>提供下载</div>
                  <% end %>
                </div>
                <div class='ui six wide column'>
                  <table class='ui table segment'>
                    <thead>
                      <tr>
                        <th>周票房</th>
                        <th>总票房</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= item.wboxoffice %></td>
                        <td><%= item.tboxoffice %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div id='<%= item.area %><%=item.rid %>_modal' class="ui large modal">
              <i class="close icon"></i>
              <div class="header">
                  <%= item.movie.name %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                  <a href="<%= item.movie.torrent_url %>" class="ui circular animated fade button" target='_blank'>
                    <div class="visible content"><%= item.movie.torrent_type %></div>
                    <div class="hidden content">
                        下载
                    </div>
                  </a>
                <% end %>
              </div>
              <div class="content">
                <div class="ui divided selection list">
                  <a class="item">
                      <div class="ui teal horizontal label">上映日期</div>
                      <%= item.movie.release_date %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">导演</div>
                      <%= item.movie.director %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">主演</div>
                      <%= item.movie.actors %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">类型</div>
                      <%= item.movie.types %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">简介</div>
                      <p><%= item.movie.summary %><p>
                  </a>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $('#<%= item.area %><%=item.rid %>').popup({
                position : 'left center',
                title    : '<%= item.movie.release_date %>上映',
                content  : '主演：<%= item.movie.actors %>'
              });
              $('#<%= item.area %><%=item.rid %>_modal').modal('attach events', '#<%= item.area %><%=item.rid %>', 'show');
            </script>
          <% end %>
        </div>
      </div>
    </div>
    <div class="ui tab " data-tab="FR">
      <div class="ui label">榜单周 <%= @fr.first.wk %></div>
      <div class='ui segment'>
        <div class="ui selection divided list ">
          <% @fr.each do |item| %>
            <div class="ui <%= item.rid<=3 ? 'red' : 'teal' %> ribbon label">
              第<%= item.rid %>名
            </div>
            <div id='<%= item.area %><%=item.rid %>' class="item" >
              <img alt="<%= item.movie.name %>" src="<%= item.movie.poster_url %>", class = 'ui circular small image' />
              <div class='ui grid'>
                <div class='ui six wide column'>
                  <h3 class="ui header">
                    <%= item.movie.name %>
                    <%= render_rating(item.movie.rating) %>
                  </h3>
                  <%= item.movie.types %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                    <div class='ui label'>提供下载</div>
                  <% end %>
                </div>
                <div class='ui six wide column'>
                  <table class='ui table segment'>
                    <thead>
                      <tr>
                        <th>周票房</th>
                        <th>总票房</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= item.wboxoffice %></td>
                        <td><%= item.tboxoffice %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            
            <div id='<%= item.area %><%=item.rid %>_modal' class="ui large modal">
              <i class="close icon"></i>
              <div class="header">
                  <%= item.movie.name %>
                  <% unless item.movie.torrent_type.blank? || item.movie.torrent_url.blank? %>
                  <a href="<%= item.movie.torrent_url %>" class="ui circular animated fade button" target='_blank'>
                    <div class="visible content"><%= item.movie.torrent_type %></div>
                    <div class="hidden content">
                        下载
                    </div>
                  </a>
                <% end %>
              </div>
              <div class="content">
                <div class="ui divided selection list">
                  <a class="item">
                      <div class="ui teal horizontal label">上映日期</div>
                      <%= item.movie.release_date %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">导演</div>
                      <%= item.movie.director %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">主演</div>
                      <%= item.movie.actors %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">类型</div>
                      <%= item.movie.types %>
                  </a>
                  <a class="item">
                      <div class="ui teal horizontal label">简介</div>
                      <p><%= item.movie.summary %><p>
                  </a>
                </div>
              </div>
            </div>

            <script type="text/javascript">
              $('#<%= item.area %><%=item.rid %>').popup({
                position : 'left center',
                title    : '<%= item.movie.release_date %>上映',
                content  : '主演：<%= item.movie.actors %>'
              });
              $('#<%= item.area %><%=item.rid %>_modal').modal('attach events', '#<%= item.area %><%=item.rid %>', 'show');
            </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.boxoffice.menu .item').tab();
</script>