<nav class="ui teal pointing menu">
  <%= link_to root_path, class:'header item', method: :get do %>
    <i class='globe icon'></i>全球影视推荐
  <% end %>
  <a data-method='get' href='/' class="item <%= 'active' if params[:controller] == 'boxoffices' && params[:action] == 'index' %>">
    <i class='sort attributes descending icon'></i>票房榜
  </a>
  <a data-method='get' href='<%= search_honor_index_path %>' class="item <%= 'active' if params[:controller] == 'honor' && params[:action] == 'search' %>">
    <i class='trophy icon'></i>功勋榜
    <div class="ui floating red small label">New</div>
  </a>

  <% if signed_in? %>
    <div class='right menu'>
      <div class="ui dropdown item">
        管理 <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to movies_path, class: 'item', method: :get do %>
            <i class='reorder icon'></i>
            票房列表
          <% end %>
          <%= link_to signout_path, method: "delete", class: 'item' do %>
            <i class='sign out icon'></i>
            退出
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</nav>