<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <%= favicon_link_tag "favicon.ico" %>
  <title>牛牛票房榜</title>
  <meta name="keywords" content="什么电影好看,有什么好看的电影,北美票房榜,香港票房榜,内地票房榜,日本票房榜,韩国票房榜,台湾票房榜" />
  <meta name="description" content="北美票房榜直接体现影片质量，但北美与国内上映时间脱节太久忘记了怎么办？是否获得过国际大奖？能否直接告诉我影片是否值得观赏？用最客观的方式告诉你电影是否值得欣赏。每周更新各国票房榜，并可查询影片获得国际电影节或颁奖典礼的获奖情况和历史票房榜排名。" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="baidu-site-verification" content="esLABt8zwJ" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="ui page ">
  <%= render 'layouts/header' %>
  <%= yield %>
</div>
<div style="display:none;">
  <script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2a6e8bb50262971aacfa8fee4d89dc34' type='text/javascript'%3E%3C/script%3E"));
  </script>
</div>
</body>
</html>

